<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycle.Ai</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Recycle.Ai</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Upload Image</div>
                <div class="card-body">
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="file">Select an image:</label>
                            <input type="file" class="form-control-file" id="file" name="file" accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% if response_text %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
                {{ response_text }}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if results %}
<strong>You can find how and where to recycle these products with the help of following resource which are provided with respect to your location</strong>
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
                {% for i, val in results.items() %}
                    <a href="{{ val }}">{{ i }} . {{ val }}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}


</body>
</html>
